<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Horaire des classes</h1>
</div>

<div class="container">
    <p class="lead">Session Juillet-Août</p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Classe</th>
            <th scope="col">Dimanche</th>
            <th scope="col">Lundi</th>
            <th scope="col">Mardi</th>
            <th scope="col">Mercredi</th>
            <th scope="col">Jeudi</th>
            <th scope="col">Vendredi</th>
            <th scope="col">Samedi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes, let i = index">
            <th scope="row">{{ class.name }}</th>
            <td>{{ class.schedule.dimanche }}</td>
            <td>{{ class.schedule.lundi }}</td>
            <td>{{ class.schedule.mardi }}</td>
            <td>{{ class.schedule.mercredi }}</td>
            <td>{{ class.schedule.jeudi }}</td>
            <td>{{ class.schedule.vendredi }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>